
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<br /><br />
<div class="row">
    @await Component.InvokeAsync("_AdminStatsCompomentPartial")

</div>

<div class="row" style="justify-content:center">
        @await Component.InvokeAsync("_AdminDashboardTestimonialComponentPartial")

        @await Component.InvokeAsync("_AdminDashboardBrandComponentPartial")

</div>


@await Component.InvokeAsync("_AdminDashboardDestinationComponentPartial")
