<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Default/Index/" class="brand-link" style="text-align: center">

        <i class="fas fa-globe" style="opacity:0.8"></i>

        <span class="brand-text font-weight-light">Siteye Git</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="https://i.hizliresim.com/o5zcw99.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Esin Çağla Kıral</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="/Admin/AdminDashboard/Index" class="nav-link">
                        <i class="nav-icon fas fa-id-card"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/Admin/Feature/Index" class="nav-link">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                            Öne Çıkanlar
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/Admin/Destination/Index" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>
                            Rotalar
                        </p>
                    </a>

                </li>
                <li class="nav-item has-treeview">
                    <a href="/Admin/Manuel/Index" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>
                            Rezervasyon Adımları
                        </p>
                    </a>

                </li>
                <li class="nav-item has-treeview">
                    <a href="/Admin/Brand/Index" class="nav-link">
                        <i class="nav-icon fas fa-paint-brush"></i>
                        <p>
                            Markalar
                        </p>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="/Admin/Service/Index" class="nav-link">
                        <i class="nav-icon fas fa-laptop-code"></i>
                        <p>
                            Hizmetler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Testimonial/Index" class="nav-link">
                        <i class="nav-icon fas fa-award"></i>
                        <p>
                            Referanslar
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/News/Index" class="nav-link">
                        <i class="nav-icon fas fa-code"></i>
                        <p>
                            Abone Bülteni
                        </p>
                    </a>
                </li>


            </ul>


        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
