
@model CreateServiceCommand
@{
    ViewData["Title"] = "CreateService";
}

<div class="container">
    <h1>Yeni Hizmet Ekleme Sayfası</h1>

    <form method="post">


        <label>Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Açıklama</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <label>Icon</label>
        <input type="text" asp-for="Icon" class="form-control" />
        <br />
   
        <button class="btn btn-primary">Ekle</button>
    </form>

</div>


